<div id="container" class="container">
  <header class="jumbotron">
    <h1><em>Sowmya's Blog</em></h1>
    <h2><em>Welcome friends!!</em></h2>
  </header>
    <div class="row">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            {{#link-to 'index' class="navbar-brand"}}My Blog{{/link-to}}
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li class="active">{{#link-to 'about'}}About{{/link-to}}</li>
              <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              {{outlet}}
            </div>
            <div class="col-md-2"></div>
          </div>
        <hr>
        <footer>
          {{#link-to 'contact'}}You could find all top stories here!{{/link-to}}
        </footer>
      </div>


<div id="footer" class="container">
  <p>{{fa-icon "heart"}}  from sowmya, 2017</p>
</div>
